[Desktop Entry]
Encoding=UTF-8
Name=Link to P5.zip
Type=Link
URL=imap://szou28%40wisc%2Eedu@outlook.office365.com:993/fetch%3EUID%3E/Sent%3E128?part=1.2&filename=P5.zip
Icon=text-html
